@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-before {
    @apply before:absolute before:top-0 before:left-[80%] before:h-[4px] before:w-[10px] before:-translate-x-[50%] before:skew-x-[325deg] before:bg-[#27282c] before:duration-500 before:content-[''] group-hover:before:left-[20%] group-hover:before:w-[20px];
  }
  .button-after {
    @apply after:absolute after:bottom-0 after:right-[80%] after:h-[4px] after:w-[10px]  after:-translate-x-[50%] after:skew-x-[325deg] after:bg-[#27282c] after:duration-500 after:content-[''] group-hover:after:right-[10%] group-hover:after:w-[20px];
  }
  .cloud_before {
    @apply before:absolute  before:-top-[50px]  before:left-[40px] before:h-[110px] before:w-[110px] before:rounded-full before:bg-[#fff] before:shadow-[90px_0_0_30px_#fff]  before:content-[''];
  }
  .am_list_before {
    @apply before:absolute before:top-[10px] before:left-0 before:h-full before:w-full before:rounded-full before:opacity-0 before:blur-[5px] before:delay-[0] before:duration-500 before:content-[''];
  }
  .am_list_active_before {
    @apply before:opacity-50 before:delay-[250ms];
  }
  .am_indicator_b {
    @apply before:absolute before:top-[5px] before:-left-[28px] before:h-[30px] before:w-[30px] before:rounded-full before:bg-transparent before:shadow-[15px_18px_#fff] before:content-[''];
  }
  .am_indicator_a {
    @apply after:absolute after:top-[5px] after:-right-[28px] after:h-[30px] after:w-[30px] after:rounded-full after:bg-transparent after:shadow-[-15px_18px_#fff] after:content-[''];
  }
  .fm_b {
    @apply before:h-[16px] before:w-[16px] before:-translate-x-[24px] before:rotate-45 before:border-t-4 before:border-r-4 before:border-[#30a3ff] before:content-[''];
  }
  .fm_a {
    @apply after:h-[16px] after:w-[16px] after:translate-x-[24px] after:rotate-[225deg] after:border-t-4 after:border-r-4 after:border-[#30a3ff] after:content-[''];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', 'Jua', 'sans-serif';
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url('/fonts/Oswald-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Jua';
  font-weight: 400;
  src: url('/fonts/Jua-Regular.ttf') format('truetype');
}
